/* Contenedor principal */
.container {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
}

/* Estilo para los divs */
.rounded-black-border {
    width: 200px; 
    height: 200px; 
    border-radius: 15px; 
    border: 2px solid black; 
    background-color: #ffffff; 
    text-align: center; 
    padding: 20px; 
    margin: 10px; 
}

/* Estilo para el texto dentro de <p> */
.rounded-black-border p {
    font-size: 20px; 
    margin-top: 30px; 
    margin-bottom: 30px; 
}

/* Estilo para las imágenes */
.icon {
    width: 50px; 
    height: 50px; 
    margin-bottom: 10px; 
}

/* Estilo para el nuevo contenedor de textos */
.action-container {
    width: 68%; /* Ancho del contenedor */
    text-align: center; /* Centrar los textos horizontalmente */
    border: 2px solid black; /* Borde de color negro */
    border-radius: 15px; /* Borde redondeado */
    padding: 10px; /* Espacio interno */
    margin-top: 10px; /* Margen superior */
    display: flex; /* Utilizar flexbox */
    flex-direction: row; /* Alinear los elementos horizontalmente */
    justify-content: center; /* Centrar los elementos horizontalmente */
    align-items: center; /* Centrar los elementos verticalmente */
}



/* Estilo para los textos */
.action-text {
    font-size: 18px; 
    margin: 0; 
}

/* Estilo para las imágenes en los textos */
.action-icon {
    width: 30px; 
    height: 30px; 
    margin-bottom: 5px; 
}

.card {
    width: 200px; 
    border-radius: 15px; 
    border: 2px solid black; 
    background-color: #ffffff; 
    text-align: center; 
    padding: 20px; 
    margin: 10px; 
}

.rounded-black-border {
    background-color: #e6f0ff;
    border-radius: 0px;
    border: 2px solid #d1dff3;
    padding: 10px;
    margin: 10px;
    cursor: pointer; /* Cambiamos el cursor al puntero cuando se pasa sobre los botones */
    transition: background-color 0.3s ease; /* Agregamos una transición suave para el cambio de color de fondo */
}

/* Estilo cuando el cursor está sobre los botones */
.rounded-black-border:hover {
    background-color: #f0f0f0; /* Cambiamos el color de fondo al pasar el cursor */
}

/* Estilo para la imagen dentro de los botones */
.icon {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
}
/* Estilo para la imagen dentro de los botones * circulo blanco*/
.icon {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
    position: relative;
    z-index: 2; /* Aseguramos que la imagen esté sobre el círculo */
}

/* Estilos para el círculo blanco detrás de las imágenes */
.rounded-black-border::before {
    content: ""; /* Creamos un pseudo-elemento */
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px; /* Diámetro del círculo */
    height: 60px; /* Diámetro del círculo */
    background-color: white; /* Color del círculo */
    border-radius: 50%; /* Hacemos el círculo */
    z-index: 1; /* Aseguramos que esté detrás de la imagen */
}

/* Estilos para los divs que funcionarán como botones */
.rounded-black-border {
    position: relative; /* Añadimos posición relativa para que los pseudo-elementos sean relativos a estos divs */
    border-radius: 8px;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    cursor: pointer; /* Cambiamos el cursor al puntero cuando se pasa sobre los botones */
    transition: background-color 0.3s ease; /* Agregamos una transición suave para el cambio de color de fondo */
}

/* Estilo cuando el cursor está sobre los botones */
.rounded-black-border:hover {
    background-color: #f0f0f0; /* Cambiamos el color de fondo al pasar el cursor */
}